<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content} , ~{::title},  ~{::script})}">
<head>
    <title>Services </title>
</head>
<body>
    <div id="content">
        <h1>Services page </h1>
        <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam repudiandae voluptatum fuga est eos repellat sunt, assumenda neque. Magni corrupti quidem perspiciatis cumque accusamus consectetur?</h2>
    </div>
    <script>
        console.log("services page")
    </script>
</body>
</html>